doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
  body
    h1= title
    p Welcome to my server from PUG!
    p Simppeli REST API Expressillä ja PUGilla
    p PUGilla server puolen renderöinti
    p Mediatiedostoja voidaan hakea GET, POST ja PUT komennoilla <br> Pelvelin käsittelee pyyntöjä: <br>GET hakee kaikki mediatiedot, POST metodilla voidaan lisätä<br> PUT metodilla voidaan muokata tiettyä mediaa (ei toimi)
    p= message
    //- div 
    //-     ul
    //-         each item in esimData 
    //-             li= item.title

                //- http://localhost:3000/api